<a href="https://colab.research.google.com/github/Mugilarasu8040/Python-prog/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter the value of a"))
b=int(input("Enter the value of b"))
c=a+b
print("The value of c=",c)

Enter the value of a10
Enter the value of b20
The value of c= 30

In [ ]:
age=eval(input("enter ur age"))
if(age>=18):
  print("eligible to vote")
else :
    print("not eligible to vote")

enter ur age19
eligible to vote

In [ ]:
a=eval(input("enter the value of a"))
b=eval(input("enter the value of b"))
c=eval(input("enter the value of c"))
if(a>b):
  if(a>c):
    print("the greatest no is ",a)
  else:
    print("the greatest no is ",c)
else:
  if(b>a):
    print("the greatest no is ",b)
  else:
      print("the greatest no is ",c)

enter the value of a9
enter the value of b1
enter the value of c8
the greatest no is  9

In [ ]:
Name=input('Enter string')
Reg_no=eval(input("Enter Reg_no"))
Mark1=eval(input("Enter Mark1"))
Mark2=eval(input("Enter Mark2"))
Mark3=eval(input("Enter Mark3"))
Mark4=eval(input("Enter Mark4"))
Total=Mark1+Mark2+Mark3+Mark4
Average=Total/4
print("Name=",Name)
print("Reg_no= ",Reg_no)
print("Totla= ",Total)
print("Average=",Average)

Enter stringmugil
Enter Reg_no40
Enter Mark190
Enter Mark290
Enter Mark390
Enter Mark490
Name= mugil
Reg_no=  40
Totla=  360
Average= 90.0

In [ ]:
Name=input("Enter Name ")
Reg_no=eval(input("Enter Reg_no "))
Maths=eval(input("Enter Maths Mark"))
Physics=eval(input("Enter Physics Mark"))
Chemistry=eval(input("Enter Chemistry Mark"))
Total=Maths+Physics/2+Chemistry/2
print("Name=",Name)
print("Reg_no=",Reg_no)
if Total>=180:
  print("Eligible to get an Admission")
else:
    print("Not Eligible to get an Admission")

Enter Name Mugil
Enter Reg_no 40
Enter Maths Mark90
Enter Physics Mark90
Enter Chemistry Mark90
Name= Mugil
Reg_no= 40
Eligible to get an Admission

In [ ]:
diameter=8
r=diameter/2
l=10
Areaof_circle= 3.14*r*r
Areaof_square=l*l
Areaof_shadedregion=Areaof_square-Areaof_circle
print("Radious value r= ",r)
print("length of square box l=",l)
print("Area of the empty partof the box",Areaof_shadedregion,"sq.in")

Radious value r=  4.0
length of square box l= 10
Area of the empty partof the box 49.76 sq.in

In [ ]:
z=0
x=eval(input("enter the x value"))
y=eval(input("enter the y value"))
print("Before swapping the value of x,y",x,y)
z=x
x=y
y=z
print("After swapping the value of x,y",x,y)

enter the x value10
enter the y value20
Before swapping the value of x,y 10 20
After swapping the value of x,y 20 10

In [ ]:
num1=eval(input("enter the 1st number"))
num2=eval(input("enter the 2nd number"))
def add(num1,num2):
 print("addition of the two number:",num1 + num2)
def sub(num1,num2):
 print("subtraction of the two number: ",num1 - num2)
def mul(num1, num2):
 print("multiplication of the two number:",num1*num2)
def div(num1, num2):
 print("division of the two number:",num1/num2)
def rem(num1,num2):
 print("remainder of the two number:",num1%num2)
add(num1, num2)
sub(num1,num2)
mul(num1,num2)
div(num1,num2)
rem(num1,num2)

enter the 1st number20
enter the 2nd number10
addition of the two number: 30
subtraction of the two number:  10
multiplication of the two number: 200
division of the two number: 2.0
remainder of the two number: 0

In [ ]:
num1=eval(input("Enter the 1st number"))
num2=eval(input("Enter the 2nd number"))
def rem(num1,num2):
  print("The remainder of given number is:",num1%num2)
def quotient(num1, num2)  :
  print("The quotient of given number is :",num1/num2)
rem(num1, num2)
quotient(num1,num2)

Enter the 1st number20
Enter the 2nd number10
The remainder of given number is: 0
The quotient of given number is : 2.0

In [6]:
empty_List=[]
print("Empty list is ",empty_List)
my_list= [10,507,"python"]
print("Created list is: ",my_list)
my_list.append(20)
my_list.append("program")
my_list.append([3,7])
print("After adding element the new list is: ",my_list)
d1=my_list.pop()
d2=my_list.pop(2)
my_list.remove(10)
print("After deleting elements the new list is:",my_list)
my_list.clear()
print("After removing all the elements the new list is:",my_list)

Empty list is  []
Created list is:  [10, 507, 'python']
After adding element the new list is:  [10, 507, 'python', 20, 'program', [3, 7]]
After deleting elements the new list is: [507, 20, 'program']
After removing all the elements the new list is: []

In [9]:
empty_tup=()
print('Empty tuple is',empty_tup)
single_tup=(10)
print('The element in the tuple is:',single_tup)
T=(10,20,30,70.5,33.3)
print("The element in the tuple are:",T)
my_tup=(10,'tuple',38,'program')
print("The length of the tuple are :",len(my_tup))
print('The element in the tuple are:',my_tup)
T1=(38,84,3,53,24,83)
print('The maximum number in the tuple is:',max(T1))
print('The minimum number in the tuple is: ',min(T1))
str='tuple'
T2=tuple(str)
print('The string to a tuple value of a character is:',T2)
L=[3,5,2,5,6]
T3=tuple(L)
print('The list element to a tuple value of a list is:',T3)

Empty tuple is ()
The element in the tuple is: 10
The element in the tuple are: (10, 20, 30, 70.5, 33.3)
The length of the tuple are : 4
The element in the tuple are: (10, 'tuple', 38, 'program')
The maximum number in the tuple is: 84
The minimum number in the tuple is:  3
The string to a tuple value of a character is: ('t', 'u', 'p', 'l', 'e')
The list element to a tuple value of a list is: (3, 5, 2, 5, 6)